
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background: #f5f7fa;
    color: #333;
    line-height: 1.5;
}


.container {
    display: flex;
    max-width: 1100px;
    margin: 30px auto;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.sidebar {
    width: 40%;
    background: linear-gradient(135deg, #2c3e50, #34495e);
    padding: 35px;
    color: #fff;
}

.profile img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    display: block;
    margin: 0 auto 15px;
}

.profile h2 {
    text-align: center;
    font-size: 22px;
}

.profile span {
    display: block;
    text-align: center;
    opacity: 0.85;
    margin-top: 5px;
}

.contact,
.knownledge,
.programming,
.tools,
.hobbies {
    margin-top: 30px;
}

.sidebar h3 {
    border-bottom: 2px solid #1abc9c;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    padding: 5px 0;
    font-size: 15px;
}


.main-content {
    width: 60%;
    padding: 35px;
}

.main-content h2 {
    border-left: 4px solid #12a5b5;
    padding-left: 12px;
    margin-bottom: 10px;
}

.item {
    margin-top: 15px;
}

.item h3 {
    margin-bottom: 5px;
}

.about p {
    line-height: 1.6;
}

.projects ,
.education {
    margin-top: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}